<title>Restaurant Creation</title>
</head>
<body>
  <h1>Restaurant Created Successfully</h1>
  <p>Your restaurant has been successfully created.</p>
  <p><%= link_to "Back to Restaurants", restaurants_path %></p>
</body>
</html>
